body {
    background-color: rgb(24, 24, 24);
}

/* Title Start */
.title-wrap {
    color: white;
    text-align: center;
}

.name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.arc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    margin-top: 0px;
}
/* Title End */

/* Video Start */
.vid-wrap {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.vid {
    width: 600px;
    height: auto;
    aspect-ratio: 16 / 9;
}
/* Video End */

/* Description Start */
.desc-wrap {
    margin-bottom: 20rem;
}

.synopsis-wrap {
    color: white;
    background-color: rgb(80, 80, 71);
    padding: 25px;
    margin: 50px 10rem;
    display: grid;
    grid-template-columns: 80rem;
}

img {
    width: 25%;
    height: auto;
    float: right;
    padding-right: 10rem;
    margin-top: 0px;
    padding-bottom: 4rem;
    padding-top: 0px;
}

.poster-wrap {
    margin: 0px;
}

.synopsis {
    color: #e5e4d2;
    float: left;
    position: absolute;
    font-size: 22px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 40rem;
}

.name2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: white;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 35px;
    margin-bottom: 0px;
}
/* Description End */
