body {
    background-color: rgb(24, 24, 24);
}

.title-wrap {
    color: white;
    text-align: center;
}

.vid-wrap {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.vid {
    width: 600px;
    height: auto;
    aspect-ratio: 16 / 9;
}

.desc-wrap {
    color: white;
}

img {
    width: 20%;
    height: auto;
}